Administratif/
bpep/
Ressources/
2022/trombi/
2022/Administratif/
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex*
*.ent
2022/Kholles/notes/
2022/Notes/

2022/Plannings/
2022/Interro/select.py

*.ipynb_checkpoints/
