Administratif/
bpep/
Ressources/
2022/trombi/
2022/Administratif/
2022/Kholles/notes/
2022/Notes/
2022/Plannings/
2022/Interro/studs.csv
2022/.lsp_symlink
2022/TIPE/

*.virtual_documents
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex*
*.ent
*.out
*~
*maf
*mtc*
*toc
*cut
*pycache*
*.ipynb_checkpoints/
*.autosave.xopp

2023/00_Adm/Kholles/
2023/00_Adm/Notes/
2023/00_Adm/Trombi/
2023/00_Adm/Plannings/
2023/00_Adm/Installation/
2023/00_Adm/Inspection
2023/04_KH/KH00/
2023/04_KH/*/notes/
2023/08_TIPE/
2023/06_DM/DMSUP/
2023/.lsp_symlink
